// Place all the styles related to the Actors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#devlog {
  padding: 20px;
  background-color: #EAEAEA;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#devlog p {
  font-family: monospace;
}

#actor-display {

}
