<!DOCTYPE html>
<html>
<head>
  <title>RussQuickAjax</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- ### ### ### jQuery library ### ### ### -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- ### ### ### Bootstrap 3 ### ### ### -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/npm.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>

</head>
<body>

<%= yield %>

<div id="separator100" style="height:100px;">&nbsp;</div>
<footer style="padding:20px;">
  <p><img src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" style="height:72px; width:auto;"></p>
</footer>
</body>

</html>
